body {
  background-color: darkgrey;
}

.main-content {
  background-color: white;
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#task-list {
  width: 1000px;
  margin: 0 auto;
}

#task-form {
  width: 800px;
  margin: 0 auto;
}

#add-task {
  margin-top: 5px;
}

#search-form {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}
