@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@300&display=swap");

$raleway-font: "Raleway", sans-serif;
$montserrat-font: "Montserrat", sans-serif;

$white: #fff;
$black: #000;
$red: #bf432a;
$color-text: #81afdd;
$color-text-2: #cfd8e0;
$color-bg: #040c18;
$color-footer: #031b34;
$gradient-bar: linear-gradient(103.22deg, #052e5a -13.86%, #040c18 99.55%);
$gradient-text: linear-gradient(20deg, #7dadff 2%, #ff654d 100%);
$gradient-text-2: linear-gradient(20deg, #c187a1 2%, #ff654d 100%);
$gradient-content: radial-gradient(
  circle at 30% -100%,
  #042c54 25%,
  #042c54 85%,
  #1b78de 100%
);
$lightGray: #b6b6b8;

$minHeight: 95vh;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: $raleway-font;
  color: $white;
  background-color: $color-bg;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.gradient-text {
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-roles {
  background: $gradient-text-2;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
  color: $white;
}
