.contact-form {
  background: $gradient-content;
  margin: 1rem 2rem;
  h3 {
    text-align: center;
    padding: 1rem 2rem;
    font-family: $montserrat-font;
    font-size: 1.7rem;
  }

  form {
    padding-bottom: 2rem;
    #successMsg {
      font-size: 1.3rem;
      color: #35aa06;
      font-weight: 700;
    }
  }

  form > div > label {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .errorMsg {
    font-size: 1.1rem;
    color: #d10442;
    font-weight: 700;
  }
}
