footer {
  background: $color-footer;
  padding: 2rem 4rem;
}

.pers-page {
  font-size: 2rem;
  font-weight: 1000;
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
  }

  footer .footer-group {
    margin-bottom: 1.5rem;
  }
}
