footer {
  background: $color-footer;
  padding: 1rem 4rem;
  margin-top: 0;
}

.pers-page {
  font-size: 2rem;
  font-weight: 1000;
}

.social-network ul {
  padding-left: 0;
}

.social-network li {
  list-style-type: none;
  color: $white;
  font-size: 1.3rem;

  &:hover i {
    color: $color-text;
  }

  span {
    margin-left: 0.7rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
  }

  footer .footer-group {
    margin-bottom: 1.5rem;
  }
}
