.navbar {
  background: $gradient-bar;
  height: 100%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.navlink {
  display: block;
  // flex-wrap: wrap;
  width: 100%;
}

.navlink li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: 700;

  &:hover i {
    transform: translate(3px, 3px);
  }

  .navActive {
    color: $lightGray;
  }

  i {
    position: absolute;
    font-size: 0.95rem;
    transform: translateY(3px);
    transition: 0.2s ease;
  }

  span {
    margin-left: 2.7rem;
  }
}

.pic-area {
  height: 250px;
  text-align: center;
  position: relative;

  img {
    align-items: center;
    border: 4px solid transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, $color-bg),
      radial-gradient(circle at top left, white, $color-bg);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    .navlink {
      display: flex;
      margin-bottom: 1rem;
    }

    .navlink ul {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding-left: 0;
    }
  }
}
