.not-found {
  background: $color-bg;
  text-align: center;

  h1 {
    margin: 3rem 0;
    font-size: 2rem;
  }

  span {
    margin-left: 0.4rem;
  }
  a {
    padding: 1rem 1rem;
    background: $gradient-text;
    transition: 0.2s;
    font-size: 1.5rem;

    &:hover {
      background: $gradient-text-2;
    }
  }
}
