@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

$raleway-font: "Raleway", sans-serif;

$white: #fff;
$black: #000;
$lightGray: #b6b6b8;

$minHeight: 95vh;

// @mixin centerVertical {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $raleway-font;
  color: $black;
}

button {
  cursor: pointer;
}

.navlink li {
  list-style-type: none;
  display: inline-block;
}

.socialNetwork li {
  list-style-type: none;
  // display: inline-block;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

a:visited {
  color: $black;
}
